.container-fluid.pt-md
  .row
    .col-md-12
      .panel.panel-success
        .panel-heading
          .panel-title= I18n.t(:add_new, name: Lease.model_name.human)
        %form.form-horizontal{name: "form", "novalidate" => "", 'ng-submit' => 'save()'}
          .panel-body
            .form-group{"highlight-if-error" => "start_date"}
              %label.col-sm-2.control-label= Lease.human_attribute_name(:start_date)
              .col-sm-6
                .form-control-icon.mb-xs
                  %input.form-control.datepicker.server-validation{type: "text", "ng-model" => "record.object.start_date", name: "start_date"}/
                  %i.the-icon.fa.fa-calendar.text-muted
                  %span{"error-messages" => "start_date"}

            %hr.mnr-md.mnl-md/

            .form-group{"highlight-if-error" => "end_date"}
              %label.col-sm-2.control-label= Lease.human_attribute_name(:end_date)
              .col-sm-6
                .form-control-icon.mb-xs
                  %input.form-control.datepicker{type: "text", "ng-model" => "record.object.end_date", name: "end_date"}/
                  %i.the-icon.fa.fa-calendar.text-muted
                  %span{"error-messages" => "end_date"}
            %hr.mnr-md.mnl-md/

            .form-group{"highlight-if-error" => "interval, frequency"}
              %label.col-sm-2.control-label= Lease.human_attribute_name(:frequency)
              .col-sm-2
                %input.form-control{type: "text", "ng-model" => "record.object.interval", name: "interval"}/
                %span{"error-messages" => "interval"}

              .col-sm-3
                %select.form-control{type: "text", "ng-model" => "record.object.frequency", name: "frequency"}
                  - Lease::FREQUENCY_TYPES.each do |type|
                    %option{value: type}
                      = I18n.t("activerecord.models.lease.frequency_types.#{type}")
                %span{"error-messages" => "frequency"}
            
            %hr.mnr-md.mnl-md/

            .form-group{"highlight-if-error" => "rent"}
              %label.col-sm-2.control-label= Lease.human_attribute_name(:rent)
              .col-sm-6
                .form-control-icon.mb-xs
                  %input.form-control{type: "text", "ng-model" => "record.object.rent", name: "rent"}/
                  %i.the-icon.fa.fa-usd.text-muted
                  %span{"error-messages" => "rent"}
            %hr.mnr-md.mnl-md/

            .form-group{"highlight-if-error" => "deposit"}
              %label.col-sm-2.control-label= Lease.human_attribute_name(:deposit)
              .col-sm-6
                .form-control-icon.mb-xs
                  %input.form-control{type: "text", "ng-model" => "record.object.deposit", name: "deposit"}/
                  %i.the-icon.fa.fa-usd.text-muted
                  %span{"error-messages" => "deposit"}

          .panel-footer
            .form-group.mb-0
              %label.col-sm-2.control-label
              .col-sm-10
                %button.btn.btn-primary{type: "submit", "ng-disabled" => "form.$pristine"}
                  = I18n.t(:save_record, name: Lease.model_name.human)
                %button.btn.btn-default{type: "reset"}= I18n.t(:reset)
