.panel.ibox
  .panel-heading
    .panel-title.ibox-title
      %h4= I18n.t(:add_new, name: Lease.model_name.human)
  %form.form-horizontal{name: "formScope.form", "novalidate" => "", 'ng-submit' => 'save()', "ng-init" => "init()"}
    .panel-body.ibox-content
      .form-group{"highlight-if-error" => "start_date"}
        %label.col-sm-2.control-label= Lease.human_attribute_name(:start_date)
        .col-sm-6
          .form-control-icon.mb-xs
            %input.form-control.datepicker.server-validation{type: "text", "ng-model" => "record.lease.start_date", name: "start_date"}/
            %i.the-icon.fa.fa-calendar.text-muted
            %span{"error-messages" => "start_date"}


      .form-group{"highlight-if-error" => "end_date"}
        %label.col-sm-2.control-label= Lease.human_attribute_name(:end_date)
        .col-sm-6
          .form-control-icon.mb-xs
            %input.form-control.datepicker{type: "text", "ng-model" => "record.lease.end_date", name: "end_date"}/
            %i.the-icon.fa.fa-calendar.text-muted
            %span{"error-messages" => "end_date"}

      .form-group{"highlight-if-error" => "interval, frequency"}
        %label.col-sm-2.control-label= Lease.human_attribute_name(:frequency)
        .col-sm-2
          %input.form-control{type: "text", "ng-model" => "record.lease.interval", name: "interval"}/
          %span{"error-messages" => "interval"}

        .col-sm-3
          %select.form-control{type: "text", "ng-model" => "record.lease.frequency", name: "frequency"}
            - Lease::FREQUENCY_TYPES.each do |type|
              %option{value: type}
                = I18n.t("activerecord.models.lease.frequency_types.#{type}")
          %span{"error-messages" => "frequency"}
      
      .form-group{"highlight-if-error" => "rent"}
        %label.col-sm-2.control-label= Lease.human_attribute_name(:rent)
        .col-sm-6
          .form-control-icon.mb-xs
            %input.form-control{type: "text", "ng-model" => "record.lease.rent", name: "rent"}/
            %i.the-icon.fa.fa-usd.text-muted
            %span{"error-messages" => "rent"}

      .form-group{"highlight-if-error" => "deposit"}
        %label.col-sm-2.control-label= Lease.human_attribute_name(:deposit)
        .col-sm-6
          .form-control-icon.mb-xs
            %input.form-control{type: "text", "ng-model" => "record.lease.deposit", name: "deposit"}/
            %i.the-icon.fa.fa-usd.text-muted
            %span{"error-messages" => "deposit"}

      %h5.no-margin-b
        %strong= Lease.human_attribute_name(:tenant, count: 2)

      %hr.mnr-md.mnl-md/

      %div{ "ng-repeat" => "tenant in record.lease.leases_users", "ng-class" => "{'alert-danger': tenant._destroy == 1}" }
        .row
          .col-xs-10
            .contact-box
              .col-sm-2
                .text-center
                  %img.img-circle.m-t-xs.img-responsive{alt: "image", src: "assets/placeholders/users/64.png"}/

              .col-sm-10
                %strong {{ tenant.contact.name }}
                %p.small
                  %i.fa.fa-envelope.fa-fw
                  %span {{ tenant.contact.email }}
                  
                  %br/
                  %i.fa.fa-phone.fa-fw
                  %span 903-363-4210

                .clearfix
          .col-xs-1
            %a.text-danger.text-large{ "ng-click" => "removeTenant(tenant)", style: "line-height: 64px;", "ng-hide" => "tenant._destroy == 1" }
              %i.fa.fa-times-circle-o.fa-fw
            %a.text-danger.text-large{ "ng-click" => "undoRemove(tenant)", style: "line-height: 64px;", "ng-show" => "tenant._destroy == 1" }
              %i.fa.fa-undo.fa-fw
        %hr/


      %div{ "ng-repeat" => "tenant in record.lease.new_tenants" }
        .row
          .col-sm-2
            %h5.pull-right
              %strong= I18n.t(:new_object, name: Lease.human_attribute_name(:tenant))
        
        .form-group{"highlight-if-error" => "tenants[{{$index}}].email"}
          %label.col-sm-2.control-label= Contact.human_attribute_name(:email)
          .col-sm-6
            %input.form-control{type: "text", "ng-model" => "tenant.email", name: "tenants[{{$index}}].email"}/
            %span{"error-messages" => "tenants[{{$index}}].email"}
      
        .form-group{"highlight-if-error" => "tenants[{{$index}}].name"}
          %label.col-sm-2.control-label= Contact.human_attribute_name(:name)
          .col-sm-5
            %input.form-control{type: "text", "ng-model" => "tenant.name", name: "tenants[{{$index}}].name"}/
            %span{"error-messages" => "tenants[{{$index}}].name"}

        %hr/

      %div
        .row
          .col-xs-10
            &nbsp;
          .col-xs-1
            %a.text-large{ "ng-click" => "addTenant()" }
              %i.fa.fa-plus-circle.fa-fw

    .panel-footer
      .form-group.mb-0
        %label.col-sm-2.control-label
        .col-sm-10
          %button.btn.btn-primary{type: "submit", "ng-disabled" => "formScope.form.$pristine"}
            = I18n.t(:save_record, name: Lease.model_name.human)
          %button.btn.btn-default{type: "reset"}= I18n.t(:reset)
