.panel.ibox.float-e-margins
  .panel-heading
    .panel-title.ibox-title
      %h5= Lease.model_name.human(count: 2)
  .panel-body
    %table.table.table-hover
      %thead
        %tr
          %th{:width => "3%"}
            .checkbox.custom-info.mt-0.mb-0
              %label
                %input{:type => "checkbox"}/
                %span
          %th= Lease.human_attribute_name(:tenant)
          %th= Lease.human_attribute_name(:rent)
          %th= Lease.human_attribute_name(:start_date)
          %th= Lease.human_attribute_name(:end_date)
          %th= Lease.human_attribute_name(:next_bill_date)
          %td &nbsp;
      %tbody
        %tr{"ng-repeat" => "item in records"}
          %td
            .checkbox.custom-info.mt-0.mb-0
              %label
                %input{:type => "checkbox"}/
                %span
          %td
            Jorge Valdivia (change)
            %div{"ng-show" => "item.id == record.object.current_lease_id"}
              %span.label.label-primary= Property.human_attribute_name(:current_lease)
              %span.label.label-warning{"ng-show" => "item.ending_soon"}
                = Lease.human_attribute_name(:ending_soon)
          %td {{ item.rent | currency }}
          %td {{ item.start_date }}
          %td {{ item.end_date }}
          %td {{ item.next_bill_date }}
          %td
            .btn-group
              %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
                %i.the-icon.fa.fa-gears
                %span.caret
              %ul.dropdown-menu.dropdown-menu-right{:role => "menu"}
                %li
                  %a{"ui-sref" => "default.properties.property.leases.lease.edit({lease_id: item.id})"}
                    %i.the-icon.fa.fa-pencil
                    = I18n.t(:edit)
