%div
  .page-header
    .box-layout
      .col-sm-10.va-m
        %h3
          %a{"ui-sref" => "default.properties.index"}
            = Property.model_name.human(count: 2)
          %small
            &#10095;
            %a{"ui-sref" => "default.properties.show({id: record.property.id})", "ng-show" => "record.property.name"}
              {{ record.property.name | characters:25 }}
          %small
            &#10095;
            %a{"ui-sref" => "default.properties.leases.index({property_id: record.property.id})"}
              = Lease.model_name.human(count: 2)
      .col-sm-2.va-m
        .pull-right
          %a.btn.btn-success{type: "button", "ui-sref" => "default.leases.new", "ng-hide" => "$state.includes('default.leases.show')"}
            %span.fa.fa-plus
            = I18n.t(:add, name: Lease.model_name.human)

          .btn-group{dropdown: "", "ng-show" => "$state.includes('default.leases.show')"}
            %button.btn.btn-primary{type: "button", "ui-sref" => "default.leases.edit({id: record.object.id})"}
              %span.fa.fa-pencil
              = I18n.t(:edit_object, name: Lease.model_name.human)
            %button.btn.btn-primary.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              %span.caret
            %ul.dropdown-menu{role: "menu"}
              %li
                %a{href: "", "ng-really-message" => I18n.t("confirmations.deletion"), "ng-really-click" => "delete()"}
                  %span.fa.fa-trash-o
                  = I18n.t(:delete)

  .ui-view.slide-right
