%h1.form-header= t("views.devise.sessions.new.header")
= form_for(resource, as: resource_name, url: session_path(resource_name), 
  html: {class: "panel"} ) do |f|

  = devise_error_messages!
  .clearfix

  .form-group
    = f.email_field :email, autofocus: true, class: "form-control input-lg",
      placeholder: User.human_attribute_name(:email)
  .form-group.signin-password
    = f.password_field :password, autocomplete: "off", class: "form-control input-lg",
      placeholder: User.human_attribute_name(:password)
    %a.forgot{href: new_password_path(resource_name)} Forgot?

  .form-group
    = f.check_box :remember_me
    %span.lbl= t("views.devise.sessions.new.remember_me")
  
  / = render "devise/shared/links"

  .form-actions
    %input.btn.btn-primary.btn-block.btn-lg{type: "submit", value: t(:sign_in)}/

.signin-with
  .header= t("views.devise.sessions.new.alt_signin")
  = succeed "\u{a0}\u{a0}" do
    %a.btn.btn-lg.btn-facebook.rounded{href: "#{}"}
      %i.fa.fa-facebook
  = succeed "\u{a0}\u{a0}" do
    %a.btn.btn-lg.btn-info.rounded{href: "#{}"}
      %i.fa.fa-twitter
  %a.btn.btn-lg.btn-danger.rounded{href: "#{}"}
    %i.fa.fa-google-plus
